Package: LAppS
Version: 0.9.4
Maintainer: Pavel Kraynyukhov <pavel.kraynyukhov@gmail.com>
Architecture: amd64
Description: Lua Application Server for micro-service architecture.
Homepage: https://github.com/ITpC/LAppS
Bugs: https://github.com/ITpC/LAppS/issues
